#######################################
# Artifacts
#######################################
build/
*.wasm

#######################################
# Cache
#######################################
build-cache
.eslintcache

#######################################
# Debug Logs
#######################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log

#######################################
# Dependencies
#######################################
node_modules/
.pnp
.pnp.js

#######################################
# Miscellaneous
#######################################
.DS_Store

#######################################
# Test Reports
#######################################
coverage/

#######################################
# VS Code
#######################################
.vscode-server/
.vscode/